div#dimension_wrapper{
    width: 100%;
}

div#input1 {
    width: 80px;
    float: left;
}

div#input2 {
    margin-left: 10px;
    float: left;
    visibility: collapse;
}

input.empty {
    width: 40px;
}

input.populated {
    width: 40px;
    background: lightgray;
}